<?xml version="1.0"?>
<settings>
  <!-- Directory of ASD files or sub-directories to process -->
  <spec.dir>PATH TO SPECTRA FILES</spec.dir>
  <!-- Main output directory -->
  <output.dir>PATH TO OUTPUT</output.dir>
  <instrument>
     <name>FieldSpec 3</name>
     <start.wave>350</start.wave>
     <end.wave>2500</end.wave>
     <step.size>1</step.size>
     <!-- Location (wavelength) of first splice correction. Usually 1000nm -->
     <jumploc1>1000</jumploc1>
     <!-- Location (wavelength) of second splice correction. Often 1800 or 1830nm -->
     <jumploc2>1800</jumploc2>
  </instrument>
  <options>
     <!-- Apply jump correction to spectra? TRUE/FALSE -->
     <jump.correction>TRUE</jump.correction>
     <!-- Jump correction options -->
     <firstJumpMax>0.02</firstJumpMax>
     <secondJumpMax>0.02</secondJumpMax>
     <!-- Calculate spectral averages? TRUE/FALSE -->
     <average>TRUE</average>
     <!-- Length of auto-generate number suffix. E.g. *00001.asd -->
     <suffix.length>6</suffix.length>
     <!-- Spectra cutoff for artificial bias.  Results from improper leaf placement in leaf clip or erroneous measurement -->
     <bias.threshold>0.06</bias.threshold>
     <!-- Option to set input asd file extension of spectra files -->
     <spec.file.ext>.asd</spec.file.ext>
     <!-- Option to set file extension of output spectra files -->
     <output.file.ext>.csv</output.file.ext>
     <!-- Create diagnostic images (.png) for each spectra during processing -->
     <diagnostic.images>FALSE</diagnostic.images>
  </options>
</settings>
